{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^src", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
